#bootstrap-admin-navbar {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar #logo {
  padding: 0 15px 0 0;
}
@media screen and (min-width: 768px) {
  .navbar .logo {
    margin-right: 0;
    padding-left: 0;
  }
}

.button-icon {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

/* Removed responsive container from navbar
 * to make it behave like an app toolbar. */
.navbar-header {
  float: left;
}
.navbar-right {
  float: right;
  padding: 0;
}
.navbar-nav {
  margin: 0 !important;
}
.navbar-nav > li > a {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.nav li {
  float: left;
}
